<div class="flex-center position-ref full-height">

  {{!-- Menu bar --}}
  <div class="top-center links menubar">
    <ul>
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      {{#if session.isAuthenticated}}
        <li>{{link-to 'User' 'user'}}</li>
        <li>{{link-to 'Users' 'users'}}</li>
        <li><a {{action 'invalidateSession'}}>Logout</a></li>
      {{else}}
        <li>{{link-to 'Login' 'login'}}</li>
        {{!--<li>{{link-to 'Register' 'register'}}</li>--}}
      {{/if}}
    </ul>
  </div>

  <div>
    <div class="content">
      {{outlet}}
    </div>

    {{!-- Footer --}}
    <div class="center">
      <hr>
      <div class="links">
        <a href="{{apiBaseUrl}}/explorer">Explore the API</a>
        <a href="https://github.com/shokmaster/loopback-3-getting-started/">GitHub</a>
        <p>&copy; 2018 John Doe.</p>
      </div>
    </div>
  </div>

</div>
